In [49]:
import requests
import json
import pandas as pd
import numpy as np
from fredapi import Fred

minimum wage data

In [162]:
fred = Fred(api_key='83dd44fe528f2b9ef86fd007dc7235f7')
federal_min_wage = fred.get_series('FEDMINNFRWG')
# all state abrv.
# only 45
# missling LA, TN, AL, MS, SC
# - federal min wage applies
state_abrv = ['NJ', 'MA', 'OH', 'MI', 'PA',
              'IL', 'TX', 'AR', 'NC', 'MO',
              'VA', 'AZ', 'RI', 'MN', 'CA',
              'CO', 'WI', 'OK', 'UT', 'NE',
              'IA', 'WV', 'KY', 'NV', 'SD',
              'IN', 'NH', 'VT', 'NY', 'AK',
              'GA', 'ID', 'FL', 'KS', 'MD',
              'DE', 'OR', 'ND', 'NM', 'CT', 
              'WA', 'ME', 'MT', 'HI', 'WY']

wage_data_arr = []

for state in state_abrv:
    state_id = 'STTMINWG' + state
    wage_data_arr.append(fred.get_series(state_id))

In [163]:
min_wage_df = pd.concat(wage_data_arr, axis=1)
min_wage_df.columns = state_abrv
min_wage_df.head()

,NJ,MA,OH,MI,PA,IL,TX,AR,NC,MO,...,DE,OR,ND,NM,CT,WA,ME,MT,HI,WY
1968-01-01,1.4,1.60,1.25,1.25,1.15,NaN,NaN,NaN,1.00,NaN,...,1.25,1.25,1.25,1.4,1.40,1.6,1.4,NaN,1.25,1.2
1969-01-01,1.4,1.60,1.25,1.25,1.15,NaN,NaN,NaN,1.00,NaN,...,1.25,1.25,1.25,1.4,1.40,1.6,1.4,NaN,1.25,1.2
1970-01-01,1.5,1.60,1.25,1.25,1.30,NaN,NaN,1.1,1.25,NaN,...,1.25,1.25,1.45,1.6,1.60,1.6,1.6,NaN,1.60,1.3
1971-01-01,1.5,1.60,1.25,1.25,1.30,NaN,NaN,1.1,1.25,NaN,...,1.25,1.25,1.45,1.6,1.60,1.6,1.6,NaN,1.60,1.3
1972-01-01,1.5,1.75,1.25,1.60,1.60,1.4,1.4,1.2,1.45,NaN,...,1.60,1.25,1.45,1.6,1.85,1.6,1.8,1.6,1.60,1.5

In [164]:
# set up federal wage data for LA, TN, AL, MS, SC 
state_abrv.append('FED')
state_abrv.append('LA')
state_abrv.append('TN')
state_abrv.append('AL')
state_abrv.append('MS')
state_abrv.append('SC')
state_abrv.append('DC')

# get federal
fed_wage_data = fred.get_series('STTMINWGFG')
wage_data_arr.append(fed_wage_data) #fed
wage_data_arr.append(fed_wage_data) #LA
wage_data_arr.append(fed_wage_data) #TN
wage_data_arr.append(fed_wage_data) #AL
wage_data_arr.append(fed_wage_data) #MS
wage_data_arr.append(fed_wage_data) #SC
wage_data_arr.append(fed_wage_data) #DC

In [165]:
min_wage_df = pd.concat(wage_data_arr, axis=1)
min_wage_df.columns = state_abrv
min_wage_df = min_wage_df.reindex(sorted(min_wage_df.columns), axis=1)
#min_wage_df.index.name = 'year'
#min_wage_df.reset_index(level=0, inplace=True)
#min_wage_df['year1'] = min_wage_df['year'].str.slice(0,4)
min_wage_df

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FED,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1968-01-01,2.10,1.60,NaN,NaN,1.65,1.25,1.40,1.60,1.25,1.60,...,NaN,1.60,NaN,1.15,NaN,1.40,1.60,1.25,1.00,1.20
1969-01-01,2.10,1.60,NaN,NaN,1.65,1.25,1.40,1.60,1.25,1.60,...,NaN,1.60,NaN,1.15,NaN,1.40,1.60,1.25,1.00,1.20
1970-01-01,2.10,1.60,1.10,NaN,1.65,1.25,1.60,1.60,1.25,1.60,...,1.00,1.60,NaN,1.15,NaN,1.60,1.60,1.30,1.00,1.30
1971-01-01,2.10,1.60,1.10,NaN,1.65,1.25,1.60,1.60,1.25,1.60,...,1.00,1.60,NaN,1.15,NaN,1.60,1.60,1.30,1.00,1.30
1972-01-01,2.10,1.60,1.20,NaN,1.65,1.25,1.85,1.60,1.60,1.60,...,1.00,1.60,1.40,1.35,NaN,1.60,1.60,1.45,1.20,1.50
1973-01-01,2.10,1.60,1.20,NaN,1.65,1.25,1.85,1.60,1.60,1.60,...,1.00,1.60,1.40,1.35,NaN,1.60,1.60,1.45,1.20,1.50
1974-01-01,2.10,1.60,1.20,NaN,1.65,1.25,1.85,1.60,1.60,1.60,...,1.00,1.60,1.40,1.35,NaN,1.60,1.60,1.45,1.20,1.50
1975-01-01,2.10,1.60,1.20,NaN,1.65,1.25,1.85,1.60,1.60,1.60,...,1.00,1.60,1.40,1.35,NaN,1.60,1.60,1.45,1.20,1.50
1976-01-01,2.80,2.30,1.90,NaN,2.00,1.25,2.31,2.30,2.00,2.30,...,2.00,2.30,1.40,1.70,2.00,2.30,2.30,2.10,2.00,1.60
1977-01-01,2.80,2.30,1.90,NaN,2.00,1.25,2.31,2.30,2.00,2.30,...,2.00,2.30,1.40,1.70,2.00,2.30,2.30,2.10,2.00,1.60
1978-01-01,2.80,2.30,1.90,NaN,2.00,1.25,2.31,2.30,2.00,2.30,...,2.00,2.30,1.40,1.70,2.00,2.30,2.30,2.10,2.00,1.60
1979-01-01,3.40,2.90,2.30,NaN,2.90,1.90,2.91,2.90,2.00,2.90,...,2.30,2.90,1.40,2.45,2.35,2.90,2.30,2.80,2.20,1.60
1980-01-01,3.60,3.10,2.55,NaN,2.90,1.90,3.12,3.10,2.00,3.10,...,2.30,3.10,1.40,2.60,2.35,3.10,2.30,3.00,2.20,1.60
1981-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1982-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1983-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1984-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1985-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1986-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1987-01-01,3.85,3.35,2.70,NaN,3.35,1.90,3.37,3.35,2.00,3.35,...,2.30,3.35,1.40,2.75,2.65,3.35,2.30,3.25,2.75,1.60
1988-01-01,3.85,3.35,3.25,NaN,3.35,3.00,3.75,3.35,3.35,3.35,...,2.80,3.35,3.35,2.75,2.65,3.55,2.30,3.35,3.35,1.60
1989-01-01,3.85,3.35,3.25,NaN,3.35,3.00,3.75,3.35,3.35,3.35,...,2.80,3.35,3.35,2.75,2.65,3.55,2.30,3.35,3.35,1.60
1990-01-01,3.85,3.35,3.25,NaN,3.35,3.00,3.75,3.35,3.35,3.35,...,2.80,3.35,3.35,2.75,2.65,3.55,2.30,3.35,3.35,1.60
1991-01-01,4.30,3.80,3.35,NaN,4.25,3.00,4.25,3.80,3.80,3.80,...,3.80,3.80,3.35,3.80,2.65,3.85,4.25,3.80,3.35,1.60
1992-01-01,4.75,4.25,3.65,NaN,4.25,3.00,4.27,4.25,4.25,4.25,...,4.25,4.25,3.35,4.25,3.65,4.25,4.25,3.80,3.80,1.60
1993-01-01,4.75,4.25,3.65,NaN,4.25,3.00,4.27,4.25,4.25,4.25,...,4.25,4.25,3.35,4.25,3.65,4.25,4.25,3.80,3.80,1.60
1994-01-01,4.75,4.25,4.25,NaN,4.25,3.00,4.27,4.25,4.25,4.25,...,4.25,4.25,3.35,4.25,4.25,4.25,4.25,4.25,4.25,1.60
1995-01-01,4.75,4.25,4.25,NaN,4.25,3.00,4.27,4.25,4.25,4.25,...,4.25,4.25,3.35,4.25,4.25,4.25,4.25,4.25,4.25,1.60
1996-01-01,4.75,4.25,4.25,NaN,4.25,3.00,4.27,4.25,4.65,4.25,...,4.25,4.25,3.35,4.25,4.25,4.75,4.90,4.25,4.25,1.60
1997-01-01,5.25,4.75,4.25,NaN,4.75,4.75,4.77,4.75,5.00,4.75,...,4.25,4.75,3.35,4.75,4.75,5.00,4.90,4.75,4.25,1.60
1998-01-01,5.65,5.15,5.15,NaN,5.15,5.15,5.18,5.15,5.15,5.15,...,5.15,5.15,3.35,5.15,5.15,5.25,4.90,5.15,4.75,1.60
1999-01-01,5.65,5.15,5.15,NaN,5.15,5.15,5.18,5.15,5.15,5.15,...,5.15,5.15,3.35,5.15,5.15,5.25,4.90,5.15,4.75,1.60
2000-01-01,5.65,5.15,5.15,NaN,5.75,5.15,6.15,5.15,5.65,5.15,...,5.15,5.15,3.35,5.15,5.15,5.75,6.50,5.15,5.15,1.60
2001-01-01,5.65,5.15,5.15,NaN,6.25,5.15,6.40,5.15,6.15,5.15,...,5.15,5.15,3.35,5.15,5.15,6.25,6.72,5.15,5.15,1.60
2002-01-01,5.65,5.15,5.15,NaN,6.75,5.15,6.70,5.15,6.15,5.15,...,5.15,5.15,5.15,5.15,5.15,6.25,6.90,5.15,5.15,5.15
2003-01-01,7.15,5.15,5.15,NaN,6.75,5.15,6.90,5.15,6.15,5.15,...,5.15,5.15,5.15,5.15,5.15,6.25,7.01,5.15,5.15,5.15
2004-01-01,7.15,5.15,5.15,NaN,6.75,5.15,7.10,5.15,6.15,5.15,...,5.15,5.15,5.15,5.15,5.15,6.75,7.16,5.15,5.15,5.15
2005-01-01,7.15,5.15,5.15,NaN,6.75,5.15,7.10,5.15,6.15,5.15,...,5.15,5.15,5.15,5.15,5.15,7.00,7.35,5.15,5.15,5.15
2006-01-01,7.15,5.15,5.15,NaN,6.75,5.15,7.40,5.15,6.15,5.15,...,5.15,5.15,5.15,5.15,5.15,7.25,7.63,5.70,5.15,5.15
2007-01-01,7.15,5.15,6.25,6.75,7.50,6.85,7.65,5.15,6.65,5.15,...,5.15,5.15,5.15,5.15,5.15,7.53,7.93,6.50,5.85,5.15
2008-01-01,7.15,5.85,6.25,6.90,8.00,7.02,7.65,5.85,7.15,5.85,...,5.85,5.85,5.85,5.85,5.85,7.68,8.07,6.50,6.55,5.15
2009-01-01,7.15,6.55,6.25,7.25,8.00,7.28,8.00,6.55,7.15,6.55,...,6.55,6.55,6.55,6.55,6.55,8.06,8.55,6.50,7.25,5.15
2010-01-01,7.75,7.25,6.25,7.25,8.00,7.24,8.25,7.25,7.25,7.25,...,7.25,7.25,7.25,7.25,7.25,8.06,8.55,7.25,7.25,5.15
2011-01-01,7.75,7.25,6.25,7.35,8.00,7.36,8.25,7.25,7.25,7.25,...,7.25,7.25,7.25,7.25,7.25,8.15,8.67,7.25,7.25,5.15
2012-01-01,7.75,7.25,6.25,7.65,8.00,7.64,8.25,7.25,7.25,7.25,...,7.25,7.25,7.25,7.25,7.25,8.46,9.04,7.25,7.25,5.15
2013-01-01,7.75,7.25,6.25,7.80,8.00,7.78,8.25,7.25,7.25,7.25,...,7.25,7.25,7.25,7.25,7.25,8.60,9.19,7.25,7.25,5.15
2014-01-01,7.75,7.25,6.25,7.90,9.00,8.00,8.70,7.25,7.75,7.25,...,7.25,7.25,7.25,7.25,7.25,8.73,9.32,7.25,7.25,5.15
2015-01-01,8.75,7.25,7.50,8.05,9.00,8.23,9.15,7.25,8.25,7.25,...,8.50,7.25,7.25,7.25,7.25,9.15,9.47,7.25,8.00,5.15
2016-01-01,9.75,7.25,8.00,8.05,10.00,8.31,9.60,7.25,8.25,7.25,...,8.55,7.25,7.25,7.25,7.25,9.60,9.47,7.25,8.75,5.15
2017-01-01,9.80,7.25,8.50,10.00,10.50,9.30,10.10,7.25,8.25,7.25,...,8.65,7.25,7.25,7.25,7.25,10.00,11.00,7.25,8.75,5.15
2018-01-01,9.84,7.25,8.50,10.50,11.00,10.20,10.10,7.25,8.25,7.25,...,8.85,7.25,7.25,7.25,7.25,10.50,11.50,7.25,8.75,5.15
2019-01-01,9.89,7.25,9.25,11.00,11.00,11.10,10.10,7.25,8.75,7.25,...,9.10,7.25,7.25,7.25,7.25,10.78,12.00,7.25,8.75,7.25

In [166]:
# to file!
file = 'minimum_wage_data.csv'
min_wage_df.to_csv(file)

housing!

In [154]:
housing_prices_df = pd.read_csv('housing_prices.csv')

In [136]:
housing_prices_df.head()
# 2018 - 1975 = 43
# split into 43!

,Month,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,United States not seasonally adjusted
0,1975M01,34.49,35.72,37.17,28.88,15.75,19.70,24.62,18.73,27.29,...,32.36,32.69,24.72,27.88,27.94,17.48,27.75,40.71,31.32,23.60
1,1975M02,34.99,35.92,37.45,29.37,15.81,19.91,25.07,18.72,27.30,...,32.32,33.00,25.05,28.18,28.25,17.59,28.18,41.79,31.81,23.75
2,1975M03,35.50,36.15,37.68,29.84,16.01,20.13,25.40,18.73,27.35,...,32.33,33.56,25.35,28.40,28.55,17.73,28.60,42.92,32.32,23.99
3,1975M04,36.04,36.42,37.86,30.20,16.32,20.35,25.59,18.81,27.48,...,32.42,34.39,25.58,28.55,28.82,17.87,28.97,44.08,32.84,24.32
4,1975M05,36.62,36.66,38.05,30.37,16.58,20.54,25.66,18.99,27.71,...,32.54,34.61,25.73,28.68,29.04,17.99,29.27,45.26,33.35,24.51

In [138]:
# need to take average of each year!
series_arr_of_years = []
past = 0
curr = 12
for chunk in range(0, 44):
    series_arr_of_years.append(housing_prices_df[past:curr].mean())
    past += 12
    curr += 12

yearly_housing_price = pd.concat(series_arr_of_years, axis=1)
yearly_housing_price = yearly_housing_price.T
yearly_housing_price


# make year cols, start in 1975
col_names = []
for num in range(0, 44):
    col_names.append(1975 + num)

yearly_housing_price.index = col_names
yearly_housing_price.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,United States not seasonally adjusted
1975,37.471667,36.267500,38.076667,29.530833,16.757500,20.508333,25.575000,19.543333,28.058333,33.545000,...,32.998333,33.966667,25.640000,28.783333,29.030000,18.110833,29.508333,45.932500,33.854167,24.484167
1976,41.563333,38.497500,40.632500,30.220000,19.393333,21.961667,27.039167,21.885833,29.014167,34.064167,...,34.730000,36.309167,28.165000,29.864167,30.019167,20.300000,31.236667,48.198333,37.790000,26.331667
1977,44.965000,40.751667,44.240000,32.535833,24.271667,24.668333,28.923333,25.658333,30.213333,34.849167,...,37.480833,39.923333,31.703333,32.081667,32.181667,24.068333,35.499167,51.022500,43.540833,29.515000
1978,49.288333,44.843333,48.285833,37.719167,28.767500,29.357500,32.940833,30.524167,31.867500,38.740000,...,41.288333,45.825000,36.996667,35.511667,35.867500,29.654167,40.240000,56.606667,50.797500,33.698333
1979,55.193333,49.214167,53.958333,46.006667,33.729167,34.292500,37.524167,36.221667,34.164167,44.133333,...,44.381667,53.243333,42.036667,39.210000,38.771667,34.487500,43.181667,60.722500,59.769167,38.250000

In [139]:
# save this as csv
file_name_yearly = 'yearly_housing_prices.csv'
yearly_housing_price.to_csv(file_name_yearly)